<% if @day_menu.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@day_menu.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @day_menu.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model:@day_menu do |f|%>
	<%=f.label :date %>
	<%= f.date_select :date%>
	<%= f.fields_for :day_menus_dishes do |ff| %>
  		<%= render partial: "day_menus_dish_fields", locals: { f: ff } %>
	<% end %>
	<%= link_to_add_fields 'Add dish to the Day Menu', f, :day_menus_dishes,{} %><br>
	<%=f.submit "Submit Day Menu"%>
<%end%>
<script>
	$(document).on('ready',function() {
    	$(document).on('change', '.dish_edited',handler);
    	$('.dish_edited').trigger('change');
	});
 	function handler(){
		var $currentDishSelect = $(this);
		var pricingDescription = $currentDishSelect.next('span.pricing_description');
		var lastKnownDate = $currentDishSelect.closest('.day_menus_dish_fields').
        			find('span.last_known_date');
        var lastKnownPrice = $currentDishSelect.closest('.day_menus_dish_fields').
    	            find('.set_price');

    	pricingDescription.html('');
    	lastKnownDate.html('');
    	lastKnownPrice.html('');

		var selectedDishId = $currentDishSelect.val();
		if (!selectedDishId) {
			return;
		}

		 $.get({
	         url: "/dishes/" + selectedDishId,
	         dataType:"json",
	         success: function(dish){
	         	pricingDescription.html(composeTextForDishDescription(dish));
	          	lastKnownPrice.html(composeTextForLastPrice(dish.day_menus_dishes));
	          	lastKnownDate.html(composeTextForLastDate(dish.day_menus_dishes));
	         },
	         error: function(data) {
	         	console.log(data);
	         }
	     });	

	}
	function composeTextForDishDescription(dish) {
		return dish.units+' '+dish.measure.name+' '+dish.pricing_types.name;
	}
	function composeTextForLastPrice(dayMenus) {
		if (dayMenus.length != 0) {
			return dayMenus[dayMenus.length-1].day_price;
		}
		else {
			return ''
		}
	}
	function composeTextForLastDate(dayMenus) {
		if (dayMenus.length != 0) {
			return 'Last mention in the Day Menu '+dayMenus[dayMenus.length-1].day_menu.date;
		}
		else {
			return 'Last mention in the Day Menu Not found'
		}
	}
	$(document).on('click','.set_price', function (e) {
		e.preventDefault();
		$(this).closest('.day_menus_dish_fields').find('.day_price').val($(this).html());
	});
</script>
