<% if @day_menu.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@day_menu.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @day_menu.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model:@day_menu do |f|%>
	<%=f.label :date %>
	<%= f.date_field :date, {class:'date_edited'} %>
	<%= f.fields_for :day_menus_dishes do |ff| %>
  		<%= render partial: "day_menus_dish_fields", locals: { f: ff } %>
	<% end %>
	<%= link_to_add_fields 'Add dish to the Day Menu', f, :day_menus_dishes,{} %><br>
	<%=f.submit "Submit Day Menu"%>
<%end%>


<script>
	$(document).on('ready',function() {
    	$(document).on('change', '.dish_edited',handler);
    	$('.dish_edited').trigger('change');
	});
 	function handler(){
		var $currentDishSelect = $(this);
		var pricingDescription = $currentDishSelect.next('span.pricing_description');
		var lastKnownDate = $currentDishSelect.closest('.day_menus_dish_fields').
        			                           find('span.last_known_date');


    	pricingDescription.html('');
    	lastKnownDate.html('');


		var selectedDishId = $currentDishSelect.val();
		var selectedDate = $('.date_edited').val();
		if (!selectedDishId) {
			return;
		}

		 $.get({
	         url: "/day_menus_dishes",
	         data: {
        		date_less: selectedDate,
        		dish: selectedDishId,
        		records_number: 1,
        		sort_by_field: 'date',
        		order_by: 'desc'
    		},
	         dataType:"json",
	         success: function(dayMenuDishes){
	         	console.log(dayMenuDishes)
	         	if(dayMenuDishes.length != 0) {
	         		var firstDayMenuDish = dayMenuDishes[0];
		         	pricingDescription.html(composeTextForDishDescription(firstDayMenuDish));
		          	lastKnownDate.html(composeTextForLastPrice(firstDayMenuDish))
		        }
	         },
	         error: function(data) {
	         	console.log(data);
	         }
	     });	

	}
	function composeTextForDishDescription(dayMenu) {
		return dayMenu.dish.units + 
		       ' ' + 
		       dayMenu.dish.measure.name + 
		       ' ' + 
		       dayMenu.dish.pricing_types.name;
	}
	function composeTextForLastPrice(dayMenus) {
			return "Last Known Price: " + 
			       "<a href='' class = 'set_price'>" +
			         dayMenus.day_price +
			       "</a> at " +
			       dayMenus.day_menu.date;
	}
	function composeTextForLastDate(dayMenus) {
			return 'Last mention in the Day Menu ' + 
			        dayMenus.day_menu.date;
	}
	$(document).on('click','.set_price', function (e) {
		e.preventDefault();
		$(this).closest('.day_menus_dish_fields').find('.day_price').val($(this).html());
	});
</script>
