<h1>Edit dish of the Day Menu</h1>
	<%= form_with scope: :day_menu, url: dish_day_menu_update_path(@day_menu), method: :patch do |d|%>
		<div>
			<%=d.label :dish_id %>
			<%= d.select :dish_id, Dish.all.map{ |c| [c.name, "#{c.id}"] },presence:true,minlength: 1,numericality: { only_integer: true }%>
		<div>
		<div>
			<%=d.label :day_price %>
			<%= d.number_field :day_price,required: true,minlength: 1,maxlength: 6,numericality: true,placeholder:"Day price" %>
		<div>
		<div>
			<%=d.label :date_day_menu %>
			<%= d.date_select :date_day_menu ,presence:true%>
		<div>
		<%=d.submit "Submit dish of the Day Menu"%>
	<%end%>