<h1>New dish of the Day Menu <%=params[:dish_id]%></h1>
	<%= form_with model:@day_menu do |d|%>
		<div>
			<%=d.label :dish_id %>
			<%= d.select :dish_id, Dish.all.map{ |c| [c.name, "#{c.id}"]}, {}, {:onChange=>"handler();"} %>
		<div>
		<div>
			<%=d.label :day_price %>
			<%= d.number_field :day_price,required: true,minlength: 1,maxlength: 6,numericality: true,placeholder:@last_dish_price %>
		<div>
		<div>
			<%=d.label :date_day_menu %>
			<%= d.date_select :date_day_menu,presence:true %>
		<div>
		<%=d.submit "Submit dish of the Day Menu"%>
	<%end%>
<script>
function handler(){
	var elem = document.getElementById("day_menu_dish_id");
    var value = elem.value;
    var d = 1
    console.log(d)
    };
</script>