<h1>Edit dish</h1>
	<%= form_with scope: :dish, url: dish_update_path(@dish), method: :patch do |d|%>
		<div>
			<%=d.label :name %>
			<%= d.text_field :name,required: true,minlength: 2,placeholder:"Dish" %>
		<div>
		<div>
			<%=d.label :quantity %>
			<%= d.number_field :quantity,required: true,minlength: 1,placeholder:"Quantity" %>
		<div>
		<div>
			<%=d.label :measure %>
			<%= d.text_field :measure,required: true,minlength: 1,placeholder:"Measure" %>
		<div>
		<div>
			<%=d.label :price %>
			<%= d.number_field :price,required: true,minlength: 1,placeholder:"Price" %>
		<div>
		<div>
			<%=d.label :category_id %>
			<%= d.select :category_id,Category.all.map{ |c| [c.name, "#{c.id}"] }%>
		<div>
		<%=d.submit "Submit dish"%>
	<%end%>