<h1><%=@dish.name%></h1>
<p>
	<h3>
		Details
	</h3>
	<div>
		<div>Category: <%=@dish.category.name%></div>
		<div>Quantity: <%=@dish.units%></div>
		<div>Measure: <%=@dish.measure.name%></div>
		<div>Pricing Type: <%=@dish.pricing_types.name%></div>
	</div>
</p>