<h1><%=@dish.name%></h1>
<p>
	<h3>
		Details
	</h3>
	<div>
		<div>Category: <%=@dish.dishes_category_name%></div>
		<div>Quantity: <%=@dish.quantity%></div>
		<div>Measure: <%=@dish.measure%></div>
		<div>Price: <%=@dish.price%> grn</div>
	</div>
</p>